<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <header>
      <h1>Todo Application</h1>
      <p>Visit count: <%= @visit_count %></p>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Last visited: <%= session[:last_visited] %></p>
    </footer>
  </body>
</html>
