<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>Todo Application</h1>
      <p><%= time_based_greeting %></p>
      <p>Total visits: <%= session[:visit_count] %></p>
      <p>Page visits: <%= session[:page_visits]["#{controller_name}##{action_name}"] || 0 %></p>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Last visited: <%= time_ago(session[:last_visited]) %></p>
    </footer>
  </body>
</html>